1_dictionary start file.py
2_person_dict.py
3_simple_exercises.py
4_dictionary exercise start file.
5_datastore.py
6_producereport.py
7_schools_report.py
origial_retail_space.csv
retail_space.csv
school_data.json
SchoolReport1.jpg
SchoolReport2.jpg

